<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Username Form</title>
</head>
<body>
  <form action="/submit-username" method="POST">
    <label for="username">Enter Username:</label>
    <input type="text" id="username" name="username">
    <button type="submit">Submit</button>
  </form>
</body>
</html>
